set-option -g status-utf8 on
set -g status-bg black
set -g status-fg green
set -g status-left '#[fg=green]#h :'
set -g status-right '#(TZ={{ user_tz }} date +%%H:%%M%%Z) : #(date -u +%%H:%%M%%Z)'
set-window-option -g window-status-current-bg red
set-window-option -g utf8 on
setw -g aggressive-resize off

setw -g monitor-activity on
set -g visual-activity on
